{% extends "base.html" %}

{% block content %}
<img src="/static/images/Skid.jpg" alt="about_us" class="image">
     <h2>Why us?</h2>
    <p>
    We have the biggest gym in all of the city we are in. There is objectively no gym with cheaper prices than us. We provide free protein shakes and if you can lift more than our personal trainers you get to bring the equipment home as a reward
    </p>
    <h2>Our staff</h2>
    <p>
    Our staff consists of four personal trainers that are disposable to all your wishes <br>
           
    <strong>Skipper</strong> he is a former samurai master with 3 black belts. He will teach anyone willing how to
    treat free laying weights and discipline <br>
       
        <strong>Kowalski</strong> he is a retired whey protein company CEO that is willing to teach you all about cardio 
    and proper nutrition <br>
         
    <strong>Rico</strong> is a powerlifter that will assist you in more advanced matters and a psychiatrist <br>
    <strong>Private</strong> is a machine expert that knows all the ways you can use your equipment to stimulate your marvelous physique
{% endblock %}
