<!-- Strona dotycząca aktualnych wyzwań -->
{% extends "base.html" %}

{% block content %}

<h2>Active Challenge List</h2>

<ul>
    <!-- Iteracja przez każde wyzwanie -->
    {% for challenge in challenges %}
        <li>
            <strong>{{ challenge.name }}</strong>
            <br>
            <p>Start date:{{ challenge.date_start|date:"F j, Y" }}</p>
            <p>End date:{{ challenge.date_end|date:"F j, Y" }}</p>
            <!-- Dla zalogowanych użytkowników: przycisk wzięcia udziału w wyzwaniu -->
            {% if user.is_authenticated %}
                <a href="{% url 'participate_in_challenge' challenge.id %}" target="popup" onclick="window.open('{% url 'participate_in_challenge' challenge.id %}', 'name', 'width=1090,height=800'); return false;">
                    <button class="entry_button">Take part in a challenge</button>
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>



{% endblock %}
