<!-- Strona ukazująca profil użytkownika -->
{% extends "base.html" %}

{% block content %}
  <h2>View profile</h2>

    <!-- Wyświetlenie podstawowych informacji z modelu User -->
    <h3>Basic Information</h3>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>

        <!-- Przycisk przekierowujący do edycji profilu -->
        <a href="{% url 'edit_profile' %}"><button class="button-join">Edit basic information</button></a>

    <!-- Wyświetlenie informacji z modelu UserProfile -->
    <h3>Extra Information</h3>
        <p>Height: {{ user_profile.height }} cm</p>
        <p>Weight: {{ user_profile.weight }} kg</p>

        <!-- Przycisk przekierowujący do rozszerzonej edycji profilu -->
        <a href="{% url 'profile_edit' %}"><button class="button-join">Edit extra information</button></a>

{% endblock %}