{% extends "base.html" %}

{% block content %}
  <h2>Log In</h2>

  <form action="" method="POST">
    {% csrf_token %}
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
    <br></br>
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
{% endblock %}
